form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    flex-direction: column;
    margin: 0;
}


form input[type="text"] {
    width: 350px; /* Breite des Textfelds */
    padding: 10px; /* Innenabstand des Textfelds */
    border: 1px solid #ccc; /* Rahmen um das Textfeld */
    border-top-left-radius: 20px; /* Abgerundete Ecken */
    border-bottom-left-radius: 20px;
    font-size: 16px; /* Schriftgröße */
    color: #333; /* Textfarbe */
    margin: 0;
    
    
}
form input[type="submit"] {
    width: 130px;
    background-color: #4caf50; /* Hintergrundfarbe des Buttons */
    color: white; /* Textfarbe des Buttons */
    padding: 12.5px 20px; /* Innenabstand des Buttons */
    border: none; /* Kein Rahmen um den Button */
    cursor: pointer; /* Ändert den Cursor bei Hover */
    border-top-right-radius: 20px; /* Abgerundete Ecken */
    border-bottom-right-radius: 20px;
    margin: 0;
}